saved_models/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.csv
*.h5


# generated data files
data/
features/
features_upvolume/
outputs/
dataset/data
dataset/meta
dataset/cleaned_data
dataset/cleaned_data_upvolume
testing/
offline/
dataset/demo_dataset
logs/
experiments/