saved_models/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.csv
*.h5


# generated data files
data/
dataset/_audio
dataset/_features
dataset/training_datasets
legacy/
features/
features_upvolume/
outputs/
dataset/data
dataset/demo_experiment
dataset/meta
dataset/cleaned_data*
dataset/cleaned_data_upvolume
testing/
offline/
dataset/demo_dataset*
logs/
experiments/
models/metrics_test.ipynb
_inference/_test_audio
_inference/_features_display